<!DOCTYPE html>
<html>

<head>
  <title>מידעלווארס</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1><%= title %></h1>
  <form action='/' method="POST">
    <label><strong> User Name:</strong> </label> <br> <br>
    <input type='name' name='name'> <br> <br>
    <label><strong> Your Age:</strong> </label> <br> <br>
    <input name="age" /> <br><br>
    <button type="submit" name='submit'>Submit</button>
  </form>
  <br> <br>
  <div>
    <div>
      TOP BROWSER AGENT: <%= topBro.bro %>
    </div>
    <br>
    <div>
      NUMBER OF REQUESTS: <%= topBro.count %>
    </div>
  </div>
</body>

</html>